<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Line of Business</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/css/bootstrap-flatly.css" />
</head>

<body data-ng-app="productManagement">
    <div class="container">
        <div class="page-header">
            <h1>Line of Business</h1>
        </div>
        <table data-ng-controller="ProductListCtrl as vm" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Code</td>
                    <td>Available</td>
                    <td ng-click="vm.togglePrice()">Price</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="product in vm.products">
                    <td><img data-ng-src="{{product.imageUrl}}" title="{{product.productName}}" alt="{{product.ProductName}}" /></td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td ng-show="vm.showPrice">{{product.price | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/products/productListCtrl.js"></script>
</body>

</html>
